<div class="container mt-3 text-white rounded" style="background-color:#090631d5">
    <h2 class ="text-light">Create an Account to Buy/Sell your dream car</h2>
    <br/>
    <br/>
    <form [formGroup]="loginRef" (ngSubmit)="signUp()">
        <label class="text-light" >Email &nbsp;</label> &nbsp;
        

        <input type="email" formControlName="emailid"/><br/>
        <br/>
        <label > Password  &nbsp;</label>
        <input type="password" formControlName="password"/><br/>
        <br/>
        <label > User/Admin : </label> &nbsp;
        <input type="radio" name="typeOfUser" value="admin" formControlName="typeOfUser"/> Admin
        &nbsp;
        <input type="radio" name="typeOfUser" value="user" formControlName="typeOfUser"/> User <br/>

        <br/>
        <input  class ="btn btn-success" type="submit" value="Signup"/>
        &nbsp; &nbsp;
        <input class ="btn btn-danger" type="reset" value="Reset"/>
    </form>
    <br/>
    <span style="color:red">{{msg}}</span><br/>
    <button  class="btn btn-primary" routerLink="/login">login</button>
    <br/>
    <br/>
</div>